<div class="sharing grid">
  <section class="profile grid-item grid">
    <img class="avatar" src="<%- url_for(theme.avatar) %>" alt="avatar" />
    <div class="grid-item">
      <p class="title"> <%- theme.title %> </p>
      <p class="subtitle"> <%- theme.subtitle %> </p>
    <div>
  </section>
  <a href="https://www.facebook.com/sharer/sharer.php?u=<%- page.permalink %>" onclick="window.open(this.href, 'javarouka',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" class="ssk ssk-icon ssk-facebook"></a>
  <a href="https://twitter.com/intent/tweet?text=<%- page.title %>: <%- page.description %>&url=<%- page.permalink %>" onclick="window.open(this.href, 'javarouka',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" class="ssk ssk-icon ssk-twitter"></a>
  <a href="https://plus.google.com/share?url=<%- page.permalink %>" onclick="window.open(this.href, 'javarouka',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" class="ssk ssk-icon ssk-google-plus"></a>
  <a href="https://www.tumblr.com/share?url=<%- page.permalink %>" onclick="window.open(this.href, 'javarouka',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" class="ssk ssk-icon ssk-tumblr"></a>
</div>
