<article>
  <h1 class="article-title">
    <a href="<%- url_for(post.path) %>"><%- post.title %></a>
  </h1>
  <section class="tags">
    <i class="fa fa-tags fa-fw"></i>
    <%- tagcloud(post.tags, { order: -1, min_font: 15 }) %>
  </section>

  <section class="article-meta">
    <p class="article-description"><%- post.description %></p>
    <p class="article-date"><%- date(post.date, 'YYYY년 MM월 DD일') %></p>
  </section>

  <section class="article-entry">
    <!--<%- toc(post.content) %>-->
    <%- post.content %>
  </section>

</article>
