<head>
<meta charset="utf-8">
<title><% if (page.title){ %><%= page.title %> | <% } %><%= theme.title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<%- open_graph(config) %>
<%- feed_tag(path, {title:'',type: 'atom'}) %>
<%- autoCanonical(config, page) %>
<link rel="shortcut icon" href="<%- url_for(theme.favicon) %>">
<%- css('css/app') %>
</head>
