<head>
<meta charset="utf-8">
<title><% if (page.title){ %><%= page.title %> | <% } %><%= theme.title %></title>
<link rel="shortcut icon" href="<%- url_for(theme.favicon) %>">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<%- open_graph({
  title: config.title,
  type: config.type,
  url: config.url + '/' + path,
  image: config.image,
  site_name: config.site_name,
  description: config.description
}) %>
<%- autoCanonical(config, page) %>
<%- feed_tag(config.url + "/atom.xml") %>
<%- css('css/app') %>
</head>
