<nav class="main-nav nav flex-column nav-pills">
    <% for (var i in theme.menu) { %>
    <% 
        var menu = theme.menu[i]
        var icon = menu.icon;
        var href = url_for(menu.path);
        var currentPath = url_for(page.path);
    %>
        <a class="" href="<%- href %>">
            <% if(icon) { %><i class="fa fa-<%-icon%>"></i><% } %>
            <%= __('index.' + i.toLowerCase()) %>
        </a>
    <% } %>
</nav>
<div class="social-links">
    <% for (var i in theme.customize.social_links) { %>
        <% if (theme.customize.social_links[i]) { %>
            <a class="social-tooltip m-1"title="<%= i %>" href="<%- url_for(theme.customize.social_links[i]) %>" target="_blank">
                <i class="icon fa fa-<%= i %>"></i>
            </a>
        <% } %>
    <% } %>
</div>
<div class="alert alert-light">
    <nav class="nav flex-column nav-pills">
        <%- list_categories({
            depth: 5,
            style: 'cloud',
            class: 'nav flex-column',
            separator: '',
            show_count: true,
        }) %>
    </nav>
</div>